@import './variables';

.m-navbar {
    color: $clr-accent;
    top: 0;
    left: 0;
    right: 0;
}

.hamburger {
    position: absolute;
    right: 12px;
    top: 5px;
}

.nav-search {
    scale: 1;
    border: transparent;
    transition: 0.3s ease !important;
    &:-moz-placeholder {
        color: $clr-accent;
    }
    &:hover {
        border-color: transparent !important;
        scale: 0.9;
    }
    &:active {
        scale: 1.15;
    }
}
